/* 외부스타일시트(HTML 공유가능) 4 */
body {background-color:#222;}
#wrap {
    background-color:#fff;
    width:440px; height: 100vh; 
    padding:179px 15px 0;
    /* w값 설정된 바깥쪽 레이아웃 요소 가운데 배치 */
    margin:0 auto;
}
#wrap h1 {
    font-weight:900;
    font-size:2rem; /* ==32px */
    margin-bottom:30px;
}
#wrap h1+p {
    margin-bottom:30px;
}
#wrap #login_frm {}
/* 아이디, 비번 */
#wrap #login_frm .id_pw_group {margin:0 0 40px;
}
#wrap #login_frm .id_pw_group dl {}
#wrap #login_frm .id_pw_group dl dt {
    font-size:1.2rem; font-weight:700;
    margin: 0 0 20px;
}
#wrap #login_frm .id_pw_group dl dd {}
#wrap #login_frm .id_pw_group dl dd:nth-child(2) {margin: 0 0 40px;}
#wrap #login_frm .id_pw_group dl dd .id_pw {
    /* 입력데이터 글자 디자인정보 */
    border: 1px solid #aaa;
    border-radius:10px;
    padding:15px;
    display:block; width:100%;
} /* 공통 */
#wrap #login_frm .id_pw_group dl dd .id_pw::placeholder {
    font-weight:400;
    font-size:0.875rem;
    color:#aaa} /* 공통 안내문(placeghorder */
#wrap #login_frm .id_pw_group dl dd #user_email_id{} /* 개별 */
#wrap #login_frm .id_pw_group dl dd #user_pw{} /* 개별 */
#wrap #login_frm .id_pw_group .error{
    color:#f00; font-size:0.875rem; font-weight:600; margin:40px 0 0;
    /* 초반 숨기기 */
    display:none;
}
/* 버튼, 가입 */
#wrap #login_frm .btn_search_group {
}
#wrap #login_frm .btn_search_group h2 {
    font-size:1.2rem; font-weight:700;
    margin: 0 0 20px;
}
#wrap #login_frm .btn_search_group h2+p {margin:0 0 20px;}
#wrap #login_frm .btn_search_group p:nth-child(4) {margin:0 0 30px;}
#wrap #login_frm .btn_search_group p .btn {
    /* display:inline-block; */
    display:block; width:100%;
    padding:15px 0; /* 상하 15 좌우 0 */
    border-radius: 10px;
    font-weight:700;
} /* a와 버튼 공통 */
#wrap #login_frm .btn_search_group p #login_btn {
    background-color: #222; color:#fff;
}/* 로그인 */
#wrap #login_frm .btn_search_group p #sign_google {
    border:1px solid #aaa;
    text-align:center;
}/* 구글 */
#wrap #login_frm .btn_search_group p.account {
    font-size: 0.875rem;
    text-align: center;
}
#wrap #login_frm .btn_search_group .account .sign_up {
    font-weight:700;
}
