body {}
#wrap {}
#wrap header {
    box-shadow:0 0 10px rgba(0,0,0,0.25);
}
#wrap header .header_contents {
    max-width:1200px; height:64px; margin: 0 auto;
    background:yellow;
    display:flex;
    flex-flow: row nowrap;
    justify-content:space-between;
    align-items: center;
}
#wrap header .header_contents h1 {
}
#wrap header .header_contents > nav {
}
#wrap header .header_contents > nav a {margin-left:20px;}
#wrap header .header_contents > nav a:hover {font-weight: 700;}
#wrap header .header_contents > .m_nav {display:none;}
#wrap header .header_contents > .m_nav a {}
/* =========================== main */
#wrap main {}
/* =========================== main 1행 광고 */
#wrap main #slide_wrap {
    max-width: 1200px;
    overflow: hidden;
    margin:0 auto;
    position:relative;
}
#wrap main #slide_wrap .slide_container {
    display:flex; width: max-content;
}
#wrap main #slide_wrap .slide_container .slide {
    width:1200px; width: 1200px; height: 650px;
    background-size:cover;
    background-position:center;
}
#wrap main #slide_wrap .slide_container .slide1 {background-image:url(https://plus.unsplash.com/premium_photo-1707353400249-1d96e1a7e0e6?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1pbi1zYW1lLXNlcmllc3wxfHx8ZW58MHx8fHx8);}
#wrap main #slide_wrap .slide_container .slide2 {background-image:url(https://plus.unsplash.com/premium_photo-1707353401897-da9ba223f807?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTN8fCVFQSVCMyVBMCVFQyU5NiU5MSVFQyU5RCVCNHxlbnwwfHwwfHx8MA%3D%3D);}
#wrap main #slide_wrap .slide_container .slide3 {background-image:url(https://images.unsplash.com/photo-1478098711619-5ab0b478d6e6?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTB8fCVFQSVCMyVBMCVFQyU5NiU5MSVFQyU5RCVCNHxlbnwwfHwwfHx8MA%3D%3D);}
#wrap main #slide_wrap .slide_container .slide4 {background-image:url(https://plus.unsplash.com/premium_photo-1707353402256-8a08d3245fe1?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1pbi1zYW1lLXNlcmllc3wyfHx8ZW58MHx8fHx8);}
#wrap main #slide_wrap .slide_container .slide5 {background-image:url(https://plus.unsplash.com/premium_photo-1707353402057-c95bdddb5b39?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1pbi1zYW1lLXNlcmllc3wzfHx8ZW58MHx8fHx8);}
#wrap main #slide_wrap .slide_container .slide6 {background-image:url(https://plus.unsplash.com/premium_photo-1707353402003-effbc48c547d?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1yZWxhdGVkfDV8fHxlbnwwfHx8fHw%3D);}
#wrap main #slide_wrap .slide_container .active {}
#wrap main #slide_wrap .prev {left:10px;}
#wrap main #slide_wrap .next {right:10px;}
#wrap main #slide_wrap .prev, #wrap main #slide_wrap .next {position:absolute;  top:50%;}
#wrap main #slide_wrap .pagenation {
    /* background-color:burlywood */; position:absolute; 
    width:100%; bottom:31px; left:0; text-align:center;
}
#wrap main #slide_wrap .pagenation span {}
#wrap main #slide_wrap .pagenation span.active {}
#wrap main .info {
    background-color:yellowgreen;
    max-width: 1200px; margin: 0 auto;
    height: 270px;
    display:flex;
    flex-flow:row nowrap;
    justify-content:space-between;
    align-items: center;
    padding:0 50px;
    gap:15px;
}
#wrap main .info a {
    background-color: pink;
    width:100px; height: 100px;
    border:1px solid #000;
    border-radius: 50%;
    text-align: center;
    line-height: 100px;
}
#wrap main .info a:hover {
    width: 170px; height: 170px;
    line-height: 170px;
}
/* ========================================= 3행 입양 문의 */
#wrap main .inquiry {}
#wrap main .inquiry #adoption_frm {padding:16px;}
#wrap main .inquiry #adoption_frm input[type=text],
#wrap main .inquiry #adoption_frm input[type=number],
#wrap main .inquiry #adoption_frm textarea {
    background:#eee; width: 100%; 
    border:1px solid #000;
    height: 36px;
    margin-bottom:10px;
}
#wrap main .inquiry #adoption_frm textarea#content {height: 121px;}
#wrap main .inquiry #adoption_frm #inquiry_btn {width: 100%; text-align: center;}