/* 변수 */
:root {
    /* --대상-용도:반복속성값; */
    /* 글자 크기 */
    --text-title70:4.375rem;
    --text-contents21:1.313rem;
    --text-menu18:1.125rem;
    --text-sub12:0.75rem;
    /* 행간 */
    --line-title90:90%;
    --line-contents150:150%;
    /* 자간 */
    --letter-minus2:0.02rem;
    /* 굵기 */
    --weight-bold:700;
    /* 색상 */
    --color-white:#fff;
    --color-brown:#642c10;
    --color-red:#d43936;
    --color-blue:#1d356d;
    --color-grey:#444;
    --color-lightgrey:#aaa;
    /* 레이아웃 정보 */
    --width-desktop:1440px;
    --margin-desktop-1-r:80px;
}
/* header 포함 공통 */
#wrap {}
#wrap header {
    background-color:aqua;
    /* width: 100%; 블록의 기본값 생략 가능*/
    padding:0 80px;
    height: 92px;
    display:flex;
    flex-flow:row nowrap; /* 메인축 수평, 줄바꿈 안함 */
    justify-content:space-between; /* 메인축 정렬(양쪽 끝) */
    align-items: center; /* 교차축(수직) 가운데 */
}
#wrap header h1 {}
#wrap header h1 a {
    font-size:var(--text-menu18);
}
#wrap header h1 a img {}
#wrap header nav {
    background-color:lime;
    height: 100%;
}
#wrap header nav .gnb {
    display:flex; /* 자식 li 정렬을 위한 값 */
    flex-flow:row nowrap;
    gap:70px;
}
#wrap header nav .gnb > li {
}
#wrap header nav .gnb > li > a {
    background-color:pink;
    display:inline-block;
    line-height: 92px;
}
#wrap header .right_menu {
    background-color:yellow;
    display:flex;
    flex-flow:row nowrap;
    gap:40px;
    align-items: center;
}
#wrap header .right_menu > li:first-child {
    display:flex;
    flex-flow:row nowrap;
    gap:40px;
}
#wrap header .right_menu > li:first-child::after {
    content:'';display:block;
    width: 1px; height: 13px;
    background-color: var(--color-grey);
}
#wrap header .right_menu > li {}
#wrap header .right_menu > li > a {
    font-size:var(--text-sub12);
}
#wrap header .right_menu > li > a img {}
#wrap main {}
/* 푸터 만들면 추가됨 */