/* 변수 */
:root {
    /* --대상-용도:반복속성값; */
    /* 글자 크기 */
    --text-subtitle40:2.5rem;
    --text-title70:4.375rem;
    --text-contents21:1.313rem;
    --text-menu18:1.125rem;
    --text-sub16:1rem;
    --text-sub12:0.75rem;
    --text-sub10:0.625rem;
    /* 행간 */
    --line-title90:90%;
    --line-contents150:150%;
    /* 자간 */
    --letter-minus2:-0.02rem;
    /* 굵기 */
    --weight-medium:500;
    --weight-bold:700;
    --weight-semibold:600;
    /* 색상 */
    --color-black:#000;
    --color-white:#fff;
    --color-brown:#642c10;
    --color-red:#d43936;
    --color-blue:#1d356d;
    --color-gray:#444;
    --color-lightgrey:#aaa;
    --color-lightblue:#36b4e5;
    --color-gray2:#ddd;
    /* 레이아웃 정보 */
    --width-desktop:1440px;
    --margin-desktop-1-r:80px;
}
/* header 포함 공통 */
body,html {scroll-behavior:smooth;}
#wrap {padding-top:92px;}
#wrap header {
    /* width: 100%; 블록의 기본값 생략 가능*/
    padding:0 80px;
    height: 92px;
    display:flex;
    flex-flow:row nowrap; /* 메인축 수평, 줄바꿈 안함 */
    justify-content:space-between; /* 메인축 정렬(양쪽 끝) */
    align-items: center; /* 교차축(수직) 가운데 */
    position:fixed; left:0; top:0;
    z-index:900;
    width: 100%;
    background:#fff;
}
#wrap header h1 {}
#wrap header h1 a {
    font-size:var(--text-menu18);
}
#wrap header h1 a img {}
#wrap header nav {
    /* height: 100% */
}
#wrap header nav .gnb {
    display:flex; /* 자식 li 정렬을 위한 값 */
    flex-flow:row nowrap;
    gap:70px;
}
#wrap header nav .gnb > li {}
#wrap header nav .gnb > li:hover .lnb {display:flex;}
#wrap header nav .gnb > li .lnb {
    background:rgb(255, 255, 255,0.7);
    /*  교차시키기, 중첩순서 */
    position:absolute; 
    z-index: 90;
    width: 100%; /* absoulte와 함께 w100%가 있으면 부모(position)의 너비와 같다는 뜻 */
    left:0; /* absoulte와 함께 좌표가 있다면 부모(pst)기준 좌표 설정 */
    top:92px;
    display:flex;
    flex-flow:row nowrap;
    justify-content:center;
    gap:150px;
    padding: 45px 0;
    display:none;
}
#wrap header nav .gnb > li .lnb > li {
    display:flex;
    flex-flow:column nowrap;
    gap:15px;
    text-align: center;
}
#wrap header nav .gnb > li .lnb > li > a {
    font-weight:600;
}
#wrap header nav .gnb > li .lnb > li > .lnb_depth2 {
    display:flex;
    flex-flow:column nowrap;
    align-items:center;
    gap:10px;
}
#wrap header nav .gnb > li .lnb li .lnb_depth2 > li {
    font-size:var(--text-contents21);
}
#wrap header nav .gnb > li .lnb li .lnb_depth2 li a {
    font-weight: 400;
    font-size:var(--text-menu18);
}
#wrap header nav .gnb > li:nth-child(5) .lnb {}
#wrap header nav .gnb > li .lnb li {
}
#wrap header nav .gnb > li .lnb li a {
    /* line-height: 108px; */
    font-size:var(--text-menu18);
    display:inline-block;
    font-weight: var(--weight-semibold);
    width: 100%;
}
#wrap header nav .gnb > li > a {
    display:inline-block;
    line-height: 92px;
}
#wrap header .right_menu {
    display:flex;
    flex-flow:row nowrap;
    /* gap:40px; */
    align-items: center;
}
#wrap header .right_menu > li:first-child {
    display:flex;
    flex-flow:row nowrap;
    /* gap:40px; */
}
#wrap header .right_menu > li:nth-child(2) {
    margin:0 40px 0 0;
    position:relative;
}
#wrap header .right_menu > li:first-child::after {
    content:'';display:block;
    width: 1px; height: 13px;
    background-color: var(--color-grey);
    margin:0 40px;
}
#wrap header .right_menu > li {}
#wrap header .right_menu > li > a {
    font-size:var(--text-sub12);
}
#wrap header .right_menu > li > a img {}
/* 언어선택 시 활성화 디자인 */
/* 두번째 li에 마우스 올렸을 때 언어선택 보이기 */
#wrap header .right_menu li:nth-child(2):hover .lang_select {
    display: flex;
}
#wrap header .right_menu li:nth-child(2) .lang_select {
    background-color: aquamarine;
    /* 형제 또는 부모와 겹치는 디자인 요소는 -> absolute */
    position:absolute; z-index:100;/* 0~999 */
    display: flex;
    flex-flow:column nowrap;
    gap:10px;
    /* 초기 숨기기 */
    display:none;
}
#wrap header .right_menu li:nth-child(2) .lang_select a {
    width:40px; line-height:40px;
    background-color: #fff;
    border:1px solid #aaa; text-align:center;
    border-radius: 50%; /* 크기 달라질때마다 수정할 필요 x */
    font-size: var(--text-sub12);
}
#wrap header .right_menu li:nth-child(2) .lang_select a.kr {}
#wrap header .right_menu li:nth-child(2) .lang_select a.en {}
#wrap header .right_menu li:nth-child(2) .lang_select a.cn {}
/* 메인 */
#wrap main {}
/* 푸터 만들면 추가됨 */